div.container{
  margin-top: 20px;
}
div.info{
  text-align: left;
}

img[alt="twitch logo"]{
  display:block;
  margin: 0 auto;
  width:350px;
}
img[alt="twitchThumbnail"]{

  width: 320px;
  height: 180px;
}

div.list-group-item{
  padding-bottom: 0px;
}
div.preview{
  padding: 0px;
  text-align: center;
}

a, a:hover{
  text-decoration: none;
  color: #6441A5;
}

img.twitch-connect{
  cursor: pointer;
}

h1, h2,{
  font-family: 'Ubuntu', sans-serif;
}

h3, h4{
  font-family: 'Rokkitt', serif;
}

#listOfChannels{
margin-left: 0 auto;
margin-right: 0 auto;
text-align: left;
}


#userInfo{
  font-family: monospace;
  text-align: left;
}
#orderSection{
vertical-align: bottom;
text-align: right;
}

#userImage, img[alt='channelLogo']{
  margin-bottom: 10px;
  align:bottom;
  width: 30px;
}

#loginSection > h1{
  padding-left:1.5em;
}

#loginSection{
text-align: center;
margin-top:20px;
font-size: 30px;
font-family: 'Rokkitt', serif;
}

@media (max-width: 991px){
  #userInfo{
    text-align: center;
    margin-top: 20px;
  }
  #loginSection{
    margin-top: 30px;
  }
  #orderSection{
  vertical-align: bottom;
  text-align: center;
  }
  div.info{
    text-align: center;
  }
  #listOfChannels{
    text-align: center;
  }

}
